@layer tailwind-base, primereact, tailwind-utilities;

/* IMPORTANT: In "styled" mode you must add the PrimeReact Theme here. Do NOT include in "unstyled" mode */
@import '../../node_modules/primereact/resources/themes/lara-light-blue/theme.css' layer(primereact);

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

/*색상코드 정의 tailwind.config.js 에서도 정의 해야 동작함*/
:root {
    --brandmain: #A3C700;
    --brandsub1: #F97E20;
    --brandsub2: #FAF7EE;
    --fail: #DC0000;
    --success: #04B014
}

.pi.pi-custom-google {
    background: url('/icons/google_logo.svg') no-repeat center center;
    background-size: contain;
    display: inline-block;
    width: 1em;
    height: 1em;
}

