@layer tailwind-base, primereact, tailwind-utilities;

/* IMPORTANT: In "styled" mode you must add the PrimeReact Theme here. Do NOT include in "unstyled" mode */
@import '../../node_modules/primereact/resources/themes/lara-light-blue/theme.css' layer(primereact);

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

/*색상코드 정의 tailwind.config.js 에서도 정의 해야 동작함*/
:root {
    --third: #d9d9d9;
    --cohint: #ffc54e;
    --cotext: #f8f8f2;
    --primary: #282a36;
    --secondary: #44475a;
    --cogreen: #00ff44;
    --coblue: #8be9fd;
    --copink: #ff79c6;
    --coyellow: #f1fa8c;
    --cowhite: #f8f8f2;
}
